.space {
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: center;
    font-size: 4.2em;
    /*    background-color: #bbbbbb;*/
}

.space.winner{
    background-color: #1b6d85;
    color: #fff;
}

.row {
    display: flex;

}

.middle {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.center {
    border-right: 4px solid black;
    border-left: 4px solid black;
}

/*
.x-played{
    content: "X";
    font-size: 2em;
}*/
